POSTGRES_DB=highpay
POSTGRES_USER=highpay
POSTGRES_PASSWORD=change_me_postgres_password
POSTGRES_PORT=5432

RABBITMQ_USER=highpay
RABBITMQ_PASSWORD=change_me_rabbitmq_password
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

HIGHPAY_INTERNAL_AUTH_TOKEN=change_me_internal_auth_token
HIGHPAY_PUBLIC_AUTH_ENABLED=false
HIGHPAY_PUBLIC_AUTH_JWT_SECRET=change_me_public_jwt_secret_with_at_least_32_chars
HIGHPAY_PUBLIC_AUTH_ISSUER=highpay-local
HIGHPAY_CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3001

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me_grafana_password

PAYMENT_SERVICE_KEYSTORE_PASSWORD=change_me_payment_service_keystore_password
PAYMENT_PROCESSOR_KEYSTORE_PASSWORD=change_me_payment_processor_keystore_password
HIGHPAY_TRUSTSTORE_PASSWORD=change_me_highpay_truststore_password
